@model PruebaTecnica.Models.Empleado

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <input type="hidden" asp-for="Foto" />
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" required  maxlength="100" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" required  maxlength="10" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control"  type="email"  maxlength="50" required/>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" type="date" class="control-label"></label>
                <input asp-for="FechaNacimiento" type="date" class="form-control" required/>
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" type="date" class="form-control" required/>
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJefe" class="control-label"></label>
                <select asp-for="IdJefe" class="form-control" asp-items="ViewBag.IdJefe">

                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="IdJefe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArea" class="control-label"></label>
                <select asp-for="IdArea" class="form-control" asp-items="ViewBag.IdArea" required></select>
                <span asp-validation-for="IdArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src='@(ViewData["Imagen"]!=""?ViewData["Imagen"]:"~/img/user.jpg")' id="imgPreview" width="150" height="150" />
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input type="file" id="files" class="form-control-file"  multiple />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> <i class="fas fa-save"></i> Guardar </button>
            </div>
        </form>
    </div>
</div>


<div>
    <a class="btn btn-dark fas fa-arrow-alt-circle-left" asp-action="Index"> Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/cargarImage.js" asp-append-version="true"></script>
}
